@import "compass/css3";

 #submit{
  background-color: black;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
}

body {
  background: #fefe33;
  font-family: 'Roboto Slab', serif;
  font-size: 10px
}
form {
  background: white;
  padding: 2em 4em 1em;
  max-width: 400px;
  margin: auto auto 0;
  box-shadow: 0px 8px 25px 0px rgba(0,0,0,.05);
  border-radius: 2px;
}
  h2 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    color:darken(#e5e5e5, 50%);
    border-bottom:solid 1px #e5e5e5;
  }
  p {
    margin: 0 0 3em 0;
    position: relative;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
  }
input[type="text"]:focus,
input[type="password"]:focus {
    background: #fff
  }
span {
    display:block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
  }
input[type="submit"] {
    background: submit;
    box-shadow: 0 3px 0 0 darken(submit, 10%);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
  }

input .submit :hover {
    background: rgba(148,175,101,1);
    text-shadow:0 1px 3px darken(submit, 30%);
  }
label{
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    @include transition(color .3s, top .3s, background-color .8s);
  }

.floatLabel{
      top: -11px;
      background-color: rgba(255,255,255,0.8);
      font-size: 14px;
    }
	
    #iii {
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      top: -20px;
      padding: 0px;
    }
    
    div .centerr {
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 100px;
      border-radius: 0 0 50% 50%;
      background: black;
      box-shadow: 0px 0px 20px rgb(144, 144, 144);
      align-items: flex-end;
    }
      

    .ni {
      position: relative;
      text-align: center;
      top: -45px;
      font: bold;
      font-size: 16px;
    }
    